<form [formGroup]="vehicleForm" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Model</mat-label>
        <input matInput formControlName="model">
      </mat-form-field>
    </p>
  
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Brand</mat-label>
        <input matInput formControlName="brand">
      </mat-form-field>
    </p>
  
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Year</mat-label>
        <input matInput formControlName="year">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Owner</mat-label>
        <input matInput formControlName="owner">
      </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Seats</mat-label>
          <input matInput formControlName="seats">
        </mat-form-field>
      </p>
    <p>
      <button mat-raised-button color="primary" type="submit" [disabled]="!vehicleForm.valid">Submit</button>
    </p>
  
  </form>
  
